html, body{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

/* *{
    border: solid 1px white;
} */

h1{
    text-align: center;
    margin: none;
}

.poke-container{
    width: 40vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 76, 31);
    border-radius: 20px;
}

.title-image{
    margin-top: 20px;
    height: 100px;
}

button{
    border: none;
    width: 90px;
    height: 35px;
    border-radius: 3px;
    background-color: rgb(37, 37, 37);
    color: #fafafa;
    margin: 10px;
}

.buttons{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#pokemon-list{
    width: 90%;   
    height: 95%; 
    overflow: scroll;
    /* min-height: 600px; */
    background-color: rgb(37, 37, 37);
    color: #fafafa;
    border-radius: 10px;
}

.contour{
    width: 70%;
    height: 50%;
    padding: 30px;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.poke-li{
height: 1fr repeat(20);
margin: 20px 0px;
}

.bottom-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    margin: top;
    padding-top: 40px;
    width: 78%;
}

.bottom-left{
   
    background-color: green;
    width: 300px;
    height: 140px;
    border-radius: 10px;
}

.grid-button{
 
    display: grid;
    /* grid-template-columns: 3;
    grid-template-rows: 3; */
    grid-template-areas: 
    '. top .'
    'left center right'
    '. bottom .'
}

.top, .right, .center, .bottom, .left{
    margin: 0px;
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 10px;
}

.top{
    grid-area: top;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.right{
    grid-area: right;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

.center{
    grid-area: center;
    border-radius: 0px;
}

.bottom{
    grid-area: bottom;
   border-top-right-radius: 0px;
   border-top-left-radius: 0px;
}

.left{
    grid-area: left;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.content{
    background-color: rgb(37, 37, 37);
    width: 100%;
    height: 100%;
}