html, body{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

/* *{
    border: solid 1px white;
} */

h1{
    text-align: center;
    margin: none;
}

.poke-container{
    width: 700px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 76, 31);
    overflow: scroll;
    border-radius: 10px;
    margin: 20px 0px
}

button{
    width: 90px;
    height: 35px;
    border-radius: 3px;
    background-color: rgb(37, 37, 37);
    color: #fafafa;
    margin: 10px;
}

.buttons{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#pokemon-list{
    width: 500px;   
    /* height: 780px;  */
    background-color: rgb(37, 37, 37);
    color: #fafafa;
    display: grid;
    grid-template-columns: 1fr repeat(20);
    border-radius: 5px;
}

.contour{
    /* width: 600px;
    height: 800px; */
    padding: 30px;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.poke-li{
height: 1fr repeat(20);
}